<header>
    <div class="header">
        <a class="h1" href=""><strong>HTML5 Website</strong> by Html5webtemplates.co.uk </a>

        <ul class="head_a">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Layouts</a>
                 <ul class="submenu">
                    <li><a href="#">Left SideBar</a></li>
                    <li><a href="#">Right SideBar</a></li>
                    <li><a href="#">No SideBar</a></li>
                    <li><a href="#">No Menu</a></li>
                </ul> 
            </li>
            <li><a href="#">Elements</a></li>
        </ul>

    </div>
</header>